.about {
  display: flex;
  flex-wrap: wrap;

  > * {
    width: 50%;

    @media screen and (max-width: 800px) {
      width: 100%;
    }
  }

  &__info,
  &__desc {
    display: flex;
    flex-direction: column;
  }

  &__info {
    height: 100%;
    justify-content: space-between;
    min-height: 100vh;
    padding: 6rem 1.5rem 0;
  }

  &__desc {
    height: 100%;
  }

  &__logo {
    margin: -1rem 0 1.5rem;
    width: 54px;
  }

  &__title {
    margin-bottom: 3rem;
  }

  &__subtitle > * {
    display: block;
    font-weight: normal;
    margin-bottom: 2rem;
  }

  &__link {
    color: $salmon;
  }

  &__helper {
    bottom: 10px;
    padding: 1rem 1.5rem 1.5rem;
    position: relative;

    &::before,
    &::after {
      border-color: var(--main-border-color);
      border-style: solid;
      content: '';
      display: block;
      left: 0;
      position: absolute;
      top: 50%;
      transform-origin: 50% 50%;
    }

    &::before {
      border-width: 2px 2px 0 0;
      height: 10px;
      margin: 5px 0 0 -5px;
      transform: rotate(135deg);
      width: 10px;
    }

    &::after {
      border-width: 0 2px 0 0;
      height: 40px;
      transform: translate(-1px, -26px);
      width: 0;
    }
  }

  &__photo {
    min-width: 320px;
    position: relative;
  }

  &__photo::before,
  &__photo::after {
    content: "";
    background: $salmon;
    position: absolute;
    width: 100%;
  }

  &__photo::before {
    height: 70%;
    top: 0;
    z-index: auto;
  }

  &__photo::after {
    height: 50px;
    top: 64px;
    z-index: 9;
  }

  &__image {
    display: block;
    margin: auto;
    padding: 4rem 6% 0;
    position: relative;
    z-index: 1;

    @media screen and (min-width: 801px) {
      min-width: 735px;
    }
  }

  &__picture {
    width: 100%;
    min-width: 734px;
  }
}
