.about {
  display: flex;
  flex-wrap: wrap;

  > * {
    @media screen and (max-width: 800px) {
      width: 100%;
    }
  }

  &__info {
    margin: auto;
    max-width: 1440px;
    padding: 4.5rem 1.5rem 0;
    position: relative;
  }

  // &__desc {

  //   @media screen and (max-width: 680px) {
  //     hyphens: auto;
  //     word-break: break-word;
  //   }
  // }

  &__logo {
    margin: -1rem 0 1.5rem;
    width: 54px;
  }

  &__title {
    mix-blend-mode: var(--title-effect);
    width: 100%;

    @media screen and (min-width: 1025px) {
      margin: 0 auto 7rem;
      padding-top: 6rem;
      display: block;
      min-width: 1044px;
      max-width: 75%;
    }

    @media screen and (max-width: 1024px) {
      margin-bottom: 1.5rem;
    }
  }

  &__subtitle > * {
    display: block;
    font-weight: normal;
    line-height: 1.8rem;
    margin-bottom: 2rem;
  }

  &__link {
    font-weight: bold;
  }

  &__link:hover {
    text-decoration: underline;
  }

  &__helper {
    padding: 1rem 1.5rem 1.5rem;
    position: relative;

    @media screen and (min-width: 801px) {
      margin: 3rem 0;
    }

    @media screen and (max-width: 800px) {
      margin: 1rem 0;
    }
  }

  &__helper::before,
  &__helper::after {
    border-color: var(--main-border-color);
    border-style: solid;
    content: '';
    display: block;
    left: 0;
    position: absolute;
    top: 50%;
    transform-origin: 50% 50%;
  }

  &__helper::before {
    border-width: 2px 2px 0 0;
    height: 10px;
    margin: 5px 0 0 -5px;
    transform: rotate(135deg);
    width: 10px;
  }

  &__helper::after {
    border-width: 0 2px 0 0;
    height: 40px;
    transform: translate(-1px, -26px);
    width: 0;
  }

  &__photo,
  &__picture {
    @media screen and (min-width: 801px) {
      position: relative;
    }
  }

  &__photo {
    mix-blend-mode: multiply;
    position: fixed;
    z-index: -1;
    top: 0;

    @media screen and (min-width: 1025px) {
      margin: auto;
      left: 0;
      right: 0;
      max-width: 890px;
      min-height: 100%;
      min-width: 890px;
      width: 35%;
      opacity: .6;
    }

    @media screen and (max-width: 1024px) {
      min-width: 390px;
      opacity: .45;
      width: 100%;
    }
  }

  &__image {
    // background: linear-gradient(to top, $salmon 0%,$salmon 50%,transparent 50%,transparent 100%);
    display: block;
    margin: auto;
    position: relative;
    z-index: 1;

    // @media screen and (max-width: 1000px) {
    //   opacity: .25;
    // }
  }

  &__picture {
    width: 100%;
  }

  &__emoji {
    animation: wave infinite 1s linear;
    display: inline-block;
  }
}

@keyframes wave {
  0% {
    transform: rotate(30deg);
  }
  25% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(-30deg);
  }
  75% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(30deg);
  }
}
