.footer {
  @extend %box;
  background-color: $mine;
  margin: 0;

  *:not(a) {
    color: $white;
  }

  &__nav {
    align-items: center;
    display: flex;
    justify-content: center;
  }

  &__link {
    font-weight: bold;
  }

  &__link,
  &__link:hover {
    color: $white;
  }

  &__link:hover {
    text-decoration: underline;
  }

  &__button {
    border-radius: 50%;
    margin: 1rem 0 0;
    overflow: hidden;
    padding: .75rem;
    transition: background .15s ease-in-out;

    &:hover {
      background-color: $nutmeg;
    }
  }

  &__icon {
    display: block;
    width: 24px;
  }
}
