.talks {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  padding: 4.5rem 1.5rem;
  max-width: calc(1440px + 3rem);

  &__image {
    border-radius: 50px 0 0;
    filter: saturate(1.25);
    max-width: 854px;
    min-width: 320px;
    overflow: hidden;
    padding: 0 1.5rem 0 0;
    width: 40%;
  }

  &__info,
  &__nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
  }

  &__item {
    align-items: center;
    border-bottom: 1px solid $gray;
    display: flex;
    justify-content: space-between;
    padding: 1rem 0;
    transition: opacity .25s linear,border .25s linear;
  }

  &__nav:hover .talks__item:not(:hover) {
    opacity: .25;
  }

  &__headline {
    margin: 0;
  }

  // &__link {
  //   color: var(--main-link-color);
  // }

  &__legend {
    color: $gray;
    margin-left: 1rem;
    text-align: right;
  }
}
