.talks {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 0 2rem;

  &__image {
    filter: saturate(1.25);
    max-width: 854px;
    min-width: 320px;
    padding: 2rem 1.5rem;
    width: 40%;
  }

  &__info {
    display: flex;
    flex-direction: column;
    justify-content: center;

    @media screen and (min-width: 1171px) {
      padding: 0 2rem;
      width: 60%;
    }

    @media screen and (max-width: 1170px) {
      padding: 0 1.5rem;
      width: 100%;
    }
  }

  &__item:not(:first-child) {
    margin-top: 1rem;
  }

  &__headline {
    margin: 0;
  }

  &__link {
    color: $salmon;
  }

  &__legend {
    color: $gray;
  }
}
