.talks {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  padding: 4.5rem 0;
  max-width: 1440px;

  &__image {
    border-radius: 50px 0 0;
    filter: saturate(1.25);
    max-width: 854px;
    min-width: 320px;
    overflow: hidden;
    padding: 0 1.5rem 0 0;
    width: 40%;
  }

  &__info,
  &__nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
  }

  &__item {
    align-items: center;
    border-bottom: 1px solid $gray;
    display: flex;
    justify-content: space-between;
    padding: 1rem 0;
    transition: opacity .25s linear,border .25s linear;
  }

  &__nav:hover .talks__item:not(:hover) {
    opacity: .25;
  }

  &__icon {
    background-color: gainsboro;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1rem;
    height: 2rem;
    margin-right: 1rem;
    min-width: 2rem;
  }

  &__headline {
    align-items: center;
    display: flex;
    margin: 0;
  }

  &__info {
    padding: 0 1.5rem;
  }

  &__legend {
    color: $gray;
    margin-left: 1rem;
    text-align: right;
  }
}
