.work {
  @extend %box;
  background-color: var(--light-bg-color);
  padding: 4.5rem 1.5rem;
  position: relative;

  > *:not(a) {
    text-align: center;
  }

  &__nav {
    display: flex;
    margin: auto;
    max-width: 1440px;

    @media (max-width: 1000px) {
      flex-direction: column;
    }
  }

  &__card,
  &__image {
    background-color: var(--main-bg-color);
  }

  &__card {
    align-items: flex-start;
    border-bottom: 8px solid $salmon;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
    margin-top: 1rem;
    text-align: left;
    text-decoration: none;
    transition: box-shadow .175s linear;

    @media (min-width: 1001px) {
      width: calc(100% / 3);
    }
  }

  &__card:hover {
    box-shadow: 1px 1px 10px rgba($black,.5);
  }

  &__card:hover .work__button {
    background-color: $salmon;
    color: $white;
  }

  &__card:not(:first-of-type):not(:last-of-type) {
    @media (min-width: 1001px) {
      margin-right: 1.5rem;
      margin-left: 1.5rem;
    }
  }

  &__headline,
  &__legend,
  &__button:not(:hover) {
    color:var(--main-text-color);
  }

  &__headline,
  &__legend,
  &__image {
    width: 100%;
  }

  &__headline {
    margin-bottom: .5rem;
    padding: 1.5rem 1rem 0;
    transition: color .175s linear;
  }

  &__legend {
    padding: 0 1rem 1.5rem;
  }

  &__link,
  &__link:hover {
    color: $mine;
  }

  &__button {
    background-color: var(--light-bg-color);
    font-size: .85rem;
    margin: 1rem 1rem 1.5rem;
    padding: .5rem .75rem;
    text-decoration: none;
    transition: color, background .25s ease-in-out;
  }

  &__image {
    max-height: 300px;
    overflow: hidden;
    padding: 0;
    pointer-events: none;
    position: relative;

    * {
      position: relative;
      transition: filter .25s ease-in-out;
      transform-origin: center;
      width: 100%;
    }
  }
}
