section#about.about
  .about__info
    .about__desc
      h2.about__title Hey! I’m Matheus Costa. I design and build useful and beautiful experiences.
      h3 I care about create modular, responsive, performant, extensible, accessible, and future friendly applications.
      p.about__helper Scroll down to see more
  .about__picture
    img.about__image(src="../assets/image-about.png", alt="About")
