section#about.about
  .about__info
    .about__desc
      h2.about__title Hey! I’m Matheus Costa. I design and build useful and beautiful experiences.
      h3.about__subtitle
        span I'm a UX Designer / UI Developer who crafts prototypes, mockups, HTML, CSS, and presentational JavaScript.
        span My work is always focused on simplicity and purpose, following great methodologies and creating modular, responsive, performant and scalabale applications.
        span
          | I strongly believe in open source, so feel free to take a look at some #{''}
          a(href="#projects") projects
          | #{''} I contribute or check the #{''}
          a(href="https://github.com/matheusagcosta/matheusagcosta.github.io" target="_blank") source
          | #{''} of my website.
    p.about__helper Scroll down
  .about__picture
    img.about__image(src="../assets/image-about.png", alt="Photo of Matheus in a hackathon")
