section#about.about
  .about__info
    .about__desc
      h2.about__title Hey! I’m Matheus Costa. I design and build useful and beautiful experiences.
      h3 My work is always focused on simplicity and purpose. I create modular, responsive, performant and future friendly applications.
    p.about__helper Scroll down
  .about__picture
    img.about__image(src="../assets/image-about.png", alt="Photo of Matheus in a hackathon")
