section.about
  .about__desc
    h2 Hey! I’m Matheus Costa. I design and build useful and beautiful experiences.
    h3 I care about create modular, responsive, performant, extensible, accessible, and future friendly applications.
  p.about__helper Scroll down to see more