.error
  .error__holder
    h1.error__title 404
    h3 No content, just blobs.
    a.error__link.is-light-visible(href="/" aria-label="Link to Home") Back home
    a.error__link.is-dark-visible(href="/#contrast-on" aria-label="Link to Home") Back home
