.project__block
  p
    | Can’t find what you’re looking for? Click the button below and start over.
  br
  a.work__button.is-light-visible(href="/#contrast-off" target="_self" rel="noopener" aria-label="Home Button")
    | ⬅️ Back Home
  a.work__button.is-dark-visible(href="/#contrast-on" target="_self" rel="noopener" aria-label="Home Button")
    | ⬅️ Back Home
