.project__frame
  h2.project__heading Other Projects
  nav.project__actions
    if current.source != 'hs'
      .work__card.is-light-visible
        a.work__preview(href="/hs" target="_self" rel="noopener" aria-label="Screenshot of HS Members")
          picture.work__image
            source(srcset="../../assets/image-hs.webp", type="image/webp")
            source(srcset="../../assets/image-hs.png", type="image/png")
            img(src="../../assets/image-hs.png", alt="Screenshot of HS Members", width="758", height="506")
        .work__details
          h3.work__headline Enhancing Employee Management
          small.work__legend Help customers leverage their members' information.
          a.work__button(href="/hs" target="_self" rel="noopener" aria-label="Screenshot of HS Members")
            | Read More

      .work__card.is-dark-visible
        a.work__preview(href="/hs#contrast-on" target="_self" rel="noopener" aria-label="Screenshot of HS Members")
          picture.work__image
            source(srcset="../../assets/image-hs.webp", type="image/webp")
            source(srcset="../../assets/image-hs.png", type="image/png")
            img(src="../../assets/image-hs.png", alt="Screenshot of HS Members", width="758", height="506")
        .work__details
          h3.work__headline Enhancing Employee Management
          small.work__legend Help customers leverage their members' information.
          a.work__button(href="/hs#contrast-on" target="_self" rel="noopener" aria-label="Screenshot of HS Members")
            | Read More

    if current.source != 'eventene'
      .work__card.is-light-visible
        a.work__preview(href="/eventene" target="_self" rel="noopener" aria-label="Screenshot of Unicorn Design System")
          picture.work__image
            source(srcset="../../assets/image-unicorn.webp", type="image/webp")
            source(srcset="../../assets/image-unicorn.png", type="image/png")
            img(src="../../assets/image-unicorn.png", alt="Screenshot of Unicorn Design System", width="758", height="506")
        .work__details
          h3.work__headline Scaling Design at Eventene
          small.work__legend Develop a common language to align the products.
          a.work__button(href="/eventene" target="_self" rel="noopener" aria-label="Screenshot of Unicorn Design System")
            | Read More

      .work__card.is-dark-visible
        a.work__preview(href="/eventene#contrast-on" target="_self" rel="noopener" aria-label="Screenshot of Unicorn Design System")
          picture.work__image
            source(srcset="../../assets/image-unicorn.webp", type="image/webp")
            source(srcset="../../assets/image-unicorn.png", type="image/png")
            img(src="../../assets/image-unicorn.png", alt="Screenshot of Unicorn Design System", width="758", height="506")
        .work__details
          h3.work__headline Scaling Design at Eventene
          small.work__legend Develop a common language to align the products.
          a.work__button(href="/eventene#contrast-on" target="_self" rel="noopener" aria-label="eventene Dashboard")
            | Read More

    if current.source != 'camelias'
      .work__card.is-light-visible
        a.work__preview(href="/camelias" target="_self" rel="noopener" aria-label="Camelias Dashboard")
          picture.work__image
            source(srcset="../../assets/image-camelias.webp", type="image/webp")
            source(srcset="../../assets/image-camelias.png", type="image/png")
            img(src="../../assets/image-camelias.png", alt="Camelias Dashboard", width="758", height="506")
        .work__details
          h3.work__headline Connecting Residents at Camelias
          small.work__legend Provide a digital solution for service providers.
          a.work__button(href="/camelias" target="_self" rel="noopener" aria-label="Camelias Dashboard")
            | Read More

      .work__card.is-dark-visible
        a.work__preview(href="/camelias#contrast-on" target="_self" rel="noopener" aria-label="Camelias Dashboard")
          picture.work__image
            source(srcset="../../assets/image-camelias.webp", type="image/webp")
            source(srcset="../../assets/image-camelias.png", type="image/png")
            img(src="../../assets/image-camelias.png", alt="Camelias Dashboard", width="758", height="506")
        .work__details
          h3.work__headline Connecting Residents at Camelias
          small.work__legend Provide a digital solution for service providers.
          a.work__button(href="/camelias#contrast-on" target="_self" rel="noopener" aria-label="Camelias Dashboard")
            | Read More
