footer#contact.footer(role="contentinfo")
  h2 Get in Touch
  p Reaching out with an invitation to speak, or just want to say hey? Drop me a line at <a href="mailto:hi@matheusagcosta.com">hi@matheusagcosta.com</a>
  nav.footer__nav
    each social, slug in public.templates.footer._data
      a.footer__link(href="#{ social.url }" target="_blank")
        img.footer__icon(src="../../assets/icon-#{ social.icon }.svg", alt="#{ social.legend }")
