.about {
  display: flex;
  flex-wrap: wrap;

  > * {
    width: 50%;

    @media screen and (max-width: 800px) {
      width: 100%;
    }
  }

  &__info,
  &__desc {
    display: flex;
    flex-direction: column;
  }

  &__info {
    justify-content: space-between;

    @media screen and (min-width: 1171px) {
      padding: 6rem 2rem;
    }

    @media screen and (max-width: 1170px) {
      padding: 6rem 2rem;
    }
  }

  &__desc {
    justify-content: center;
    height: 100%;
  }

  &__logo {
    margin: -1rem 0 1.5rem;
    width: 54px;
  }

  &__title {
    margin-bottom: 3rem;
  }

  &__subtitle > * {
    display: block;
    margin-bottom: 2rem;
  }

  &__link {
    color: $salmon;
  }

  &__helper {
    margin-top: 5rem;
    position: relative;
    padding: 1rem 1.5rem 1.5rem;

    &::before,
    &::after {
      border-color: var(--main-border-color);
      border-style: solid;
      content: '';
      display: block;
      left: 0;
      position: absolute;
      top: 50%;
      transform-origin: 50% 50%;
    }

    &::before {
      border-width: 2px 2px 0 0;
      height: 10px;
      margin: 5px 0 0 -5px;
      transform: rotate(135deg);
      width: 10px;
    }

    &::after {
      border-width: 0 2px 0 0;
      height: 40px;
      transform: translate(-1px, -26px);
      width: 0;
    }
  }

  &__picture {
    min-width: 320px;
    position: relative;

    &::before {
      content: "";
      background-color: $salmon;
      height: 70%;
      position: absolute;
      top: -3.5rem;
      width: 100%;
      z-index: auto;
    }
  }

  &__image {
    display: block;
    margin: auto;
    padding: 4rem 6% 0;
    position: relative;
    z-index: 1;
    
    @media screen and (min-width: 801px) {
      min-width: 735px;
    }
  }
}
