@import url('https://fonts.googleapis.com/css2?family=Prompt:wght@300;400;700&display=swap');

@media screen, print, (prefers-color-scheme: light) {
  :root {
    @include themeLight(true);
  }

  #contrast-on:target {
    @include themeDark(true);
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    @include themeDark(false);
  }

  #contrast-on:target {
    @include themeLight(false);
  }
}

body {
  font-display: auto;
  font-family: 'Prompt', sans-serif;
  background: var(--main-bg-color);
  color: var(--main-text-color);
  margin: 0;
  padding: 0;
  max-width: 100%;
  overflow-x: hidden;
}

* {
  -webkit-overflow-scrolling: touch;
}

*, ::after, ::before {
  box-sizing: border-box;
}

h1, h2, h3, h4, h5 {
  line-height: 1.2;
  margin: 0 0 1.5rem;
}

h2 {
  font-size: 40px;
}

h3 {
  font-size: 16px;
}

a {
  font-weight: normal;

  &,
  &:hover,
  &:active,
  &:visited {
    color: var(--main-link-color);
  }

  &:hover {
    text-decoration: none;
  }

  &:visited {
    filter: brightness(.75);
  }

  &:active {
    filter: brightness(.9);
  }
}

p {
  margin: 0 0 1rem;
}

img {
  max-width: 100%;
}

ul {
  padding: 0 0 0 1rem;
}

main {
  overflow-x: hidden;
}

%box {
  display: block;
  max-width: 100%;
  overflow: hidden;
  padding: 4rem 1rem;
  text-align: center;

  @media screen and (min-width: 1171px) {
    margin: 0 2rem 2rem;
  }
}
