:root {
  --main-bg-color: #{$white};
  --main-border-color: #{$black};
  --main-text-color: #{$black};
  --light-bg-color: #{$gainsboro};
  --image-bg-color: #{$whisper};
  --switcher-bg-color: #{$darken-gainsboro};
  --is-hidden: none;
  --is-shown: inline-block;
  --switcher-position: translateX(6px);
  --switcher-opacity-active: 1;
  --switcher-opacity-inactive: .8;
}

#contrast-on:target {
  --main-bg-color: #{$black};
  --main-border-color: #{$white};
  --main-text-color: #{$white};
  --light-bg-color: #{$mine};
  --image-bg-color: #{$mine};
  --switcher-bg-color: #{$mine};
  --is-hidden: inline-block;
  --is-shown: none;
  --switcher-position: translateX(37px);
  --switcher-opacity-active: .8;
  --switcher-opacity-inactive: 1;
}

body{
  font-display: auto;
  font-family: 'Prompt', sans-serif;
  background: var(--main-bg-color);
  color: var(--main-text-color);
  margin: 0;
  padding: 0;
  max-width: 100%;
  overflow-x: hidden;
}

* {
  -webkit-overflow-scrolling: touch;
}

*, ::after, ::before {
  box-sizing: border-box;
}

h1, h2, h3, h4, h5 {
  line-height: 1.2;
  margin: 0 0 1.5rem;
}

h2 {
  font-size: 40px;
}

h3 {
  font-weight: 300;
}

a {
  color: $nutmeg;
  font-weight: normal;

  &:hover {
    text-decoration: none;
  }
}

p {
  margin: 0 0 1rem;
}

img {
  max-width: 100%;
}

ul {
  padding: 0 0 0 1rem;
}

%box {
  display: block;
  max-width: 100%;
  overflow: hidden;
  padding: 4rem 1rem;
  text-align: center;

  @media screen and (min-width: 1171px) {
    margin: 0 2rem 2rem;
  }
}
