.header {
  padding: 0 1rem;
  position: relative;
  z-index: 2;

  &__menu {
    display: flex;
    max-width: 50%;
  }

  &__link {
    color: $black;
    font-weight: bold;
    padding: 1rem 2%;
    text-decoration: none;
  }
}
