.work {
  background-color: $salmon;
  margin: 1rem 0;
  padding: 4rem 0;
  width: 100%;

  > *:not(a) {
    color: $white;
    text-align: center;
  }

  &__text {
    margin: 0 2rem;
  }

  &__nav {
    display: flex;
    overflow-x: auto;
    padding: 2rem 0;
  }

  &__nav::before,
  &__nav::after {
    background: transparent;
    color: transparent;
    content: '.';
    display: block;
    height: 0;
    position: relative;
    width: 0;
  }

  &__link {
    align-items: flex-start;
    background-color: var(--main-bg-color);
    border-bottom: 8px solid $nutmeg;
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
    margin-top: 1rem;
    text-align: left;
    text-decoration: none;
    transition: box-shadow .175s linear;
    width: calc(100% / 3);
    
    @media (min-width: 1001px) {
      justify-content: space-between;
      min-width: 500px;
    }
    
    @media (max-width: 1000px) {
      min-width: 65%;
    }
  }

  &__link:hover {
    box-shadow: 1px 1px 10px rgba($black,.5);
  }

  &__link:not(:first-of-type),
  &__link:not(:last-of-type) {
    margin-right: 1rem;
    margin-left: 1rem;
  }

  &__link:first-of-type {
    margin-left: 2rem;
  }

  &__link:last-of-type {
    margin-right: 2rem;
  }

  &__headline,
  &__legend {
    color:var(--main-text-color);
  }

  &__headline,
  &__legend,
  &__image {
    width: 100%;
  }

  &__headline {
    transition: color .175s linear;
    padding: 1.5rem 1rem 0;

    .work__link:hover & {
      color: $salmon;
    }
  }

  &__legend {
    min-height: 110px;
    padding: 0 1rem 1.5rem;
  }

  &__image {
    background-color: var(--image-bg-color);
    max-height: 300px;
    overflow: hidden;
    padding: 0;
    position: relative;

    * {
      filter: grayscale(10);
      position: relative;
      transform: scale(1.15);
      transition: filter, transform .25s ease-in-out;
      transform-origin: center;
      width: 100%;

      .work__link:hover & {
        filter: none;
        transform: scale(1.35);
      }
    }
  }
}
