.work {
  background-color: $salmon;
  margin: 1rem 0;
  padding: 4rem 2rem;
  width: 100%;

  > *:not(a) {
    color: $white;
    text-align: center;
  }

  &__nav {
    display: flex;
    justify-content: center;
    padding: 2rem 0;

    @media (max-width: 1000px) {
      flex-wrap: wrap;
    }
  }

  &__link {
    align-items: flex-start;
    background-color: $white;
    border-bottom: 8px solid $nutmeg;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 1rem;
    text-align: left;
    text-decoration: none;
    transition: box-shadow .175s linear;
    width: calc(100% / 3);

    @media (max-width: 1000px) {
      height: 100%;
      min-width: 75%;
    }

    @media (max-width: 700px) {
      min-width: 100%;
    }

    #contrast-on:target & {
      background-color: $black;
    }

    &:hover {
      box-shadow: 1px 1px 10px rgba($black,.5);
    }
  }

  &__headline,
  &__legend {
    color: $black;
  }

  &__headline,
  &__legend,
  &__image {
    width: 100%;
  }

  &__headline {
    transition: color .175s linear;
    padding: 1.5rem 1rem 0;

    #contrast-on:target .work__link:not(:hover) & {
      color: $white;
    }

    .work__link:hover & {
      color: $salmon;
    }
  }

  &__legend {
    min-height: 110px;
    padding: 0 1rem 1.5rem;

    #contrast-on:target & {
      color: $white;
    }
  }

  &__image {
    background-color: $whisper;
    max-height: 300px;
    overflow: hidden;
    padding: 1rem 0 0;
    position: relative;

    #contrast-on:target & {
      background-color: $black;
    }

    * {
      bottom: -20px;
      filter: grayscale(10);
      margin-bottom: -1rem;
      position: relative;
      padding: 1rem;
      transition: filter, transform .175s ease-in-out;
      transform-origin: bottom;
      width: 100%;

      .work__link:hover & {
        filter: none;
        transform: translateY(-10px);
      }
    }
  }
}
