@import 'colors';
@import 'footer';

body{
  font-family: 'Prompt', sans-serif;
  padding: 0;
  background: #f4f4f7;
  color: #444;
  margin: 0;
}

* {
  -webkit-overflow-scrolling: touch;
  box-sizing: content-box;
}

h2 {
  font-size: 40px;
}

h3 {
  font-weight: 300;
}