.error
  .error__holder
    h1.error__title 404
    h3 Whoops. Looks like what you're looking for can't be found.
    a.error__link(href="/") Let's go back
    a.error__link(href="/#contrast-on") Let's go back
