.error
  .error__holder
    h1.error__title 404
    h3 Whoops. Looks like what you're looking for can't be found.
    a.error__link.is-light-visible(href="/") Back home
    a.error__link.is-dark-visible(href="/#contrast-on") Back home
