doctype
html.no-js(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    meta(name="description", content="UX Designer / UI Developer")
    meta(property="og:locale", content="en_US")
    meta(property="og:title", content="Matheus Costa")
    meta(property="og:description", content="UX Designer / UI Developer")
    meta(property="og:site_name", content="matheusagcosta")
    meta(property="og:url", content="https://www.matheusagcosta.com")
    meta(property="og:type", content="website")
    meta(name="twitter:title", content="Matheus Costa - UX Designer / UI Developer")
    meta(name="twitter:site", content="@matheusagcosta")
    meta(name="keywords", content="ui developer, ui designer, ux designer, web designer, designer, front-end developer, front-end designer")
    meta(name="author", content="Matheus Costa")
    meta(name="theme-color", content="#C56552")
    meta(name="msapplication-TileColor", content="#C56552")
    link(rel="apple-touch-icon", sizes="180x180", href="/assets/favicon/apple-touch-icon.png")
    link(rel="icon", type="image/png", sizes="32x32", href="/assets/favicon/favicon-32x32.png")
    link(rel="icon", type="image/png", sizes="16x16", href="/assets/favicon/favicon-16x16.png")
    link(rel="manifest", href="/assets/favicon/site.webmanifest")
    link(rel="mask-icon", href="/assets/favicon/safari-pinned-tab.svg", color="#5bbad5")
    link(href='https://fonts.googleapis.com/css?family=Prompt:300,400,700', rel='stylesheet')
    link(rel="stylesheet" href="/css/main.css")
    title #{ title }
  body#contrast-on
    != yield