section#about.about
  .about__info
    .about__desc
      h1.about__title
        //- | Hey! #{''}
        //- span.about__emoji 👋
        //- br
        | Let's make digital experiences more human.
      //- h3.about__subtitle
      //-   span I’ve been creating digital products for over 11 years across a variety of industries, always focused on simplicity and purpose, following great methodologies to deliver modular, responsive, performing, and scalable applications.
      //-   span
      //-     | I strongly believe in open source, so  I’m always creating free resources for the community, mentoring people, speaking at events, and contributing to side projects.
      //-   span
      //-     | Interested to learn more? Read my #{''}
      //-     a.about__link.is-light-visible(href="/cv" aria-label="Link to Resume") resume
      //-     a.about__link.is-dark-visible(href="/cv#contrast-on" aria-label="Link to Resume") resume
      //-     | , check some of my work below
      //-     | #{''} or just #{''}
      //-     a.about__link(href="mailto:hi@matheusagcosta.com" aria-label="Link to Contact") contact me
      //-     |.
      p.about__helper
        svg.about__badge(version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' width='300px' height='300px' viewBox='0 0 300 300' enable-background='new 0 0 300 300' xml:space='preserve')
          defs
            path#circlePath(d='M 150, 150 m -60, 0 a 60,60 0 0,1 120,0 a 60,60 0 0,1 -120,0 ')
          circle(cx='150' cy='100' r='75' fill='none')
          g
            use(xlink:href='#circlePath' fill='none')
            text
              textpath(xlink:href='#circlePath') Scroll down for more • Scroll down for more •

    .about__photo
      picture.about__image
        source(srcset="../assets/image-about.webp", type="image/webp")
        source(srcset="../assets/image-about.png", type="image/png")
        img.about__picture(src="../assets/image-about.png", alt="Profile Picture", width="100%", height="834")
