section#about.about
  .about__info
    //- a.about__logo.logo.is-light-visible(href="/" aria-label="logo")
    //-   svg.logo__image(viewBox='0 0 42 42', fill='none', xmlns='http://www.w3.org/2000/svg')
    //-     path(fill-rule='evenodd', clip-rule='evenodd', d='M38 4H4v34h34V4zM0 0v42h42V0H0z')
    //-     path(d='M24.767 29v-8.228l-2.618 5.786h-2.288l-2.618-5.786V29h-4.29V13.38h4.686l3.366 7.348 3.388-7.348h4.664V29h-4.29z')
    //- a.about__logo.logo.is-dark-visible(href="/#contrast-on" aria-label="logo")
    //-   svg.logo__image(viewBox='0 0 42 42', fill='none', xmlns='http://www.w3.org/2000/svg')
    //-     path(fill-rule='evenodd', clip-rule='evenodd', d='M38 4H4v34h34V4zM0 0v42h42V0H0z')
    //-     path(d='M24.767 29v-8.228l-2.618 5.786h-2.288l-2.618-5.786V29h-4.29V13.38h4.686l3.366 7.348 3.388-7.348h4.664V29h-4.29z')
    .about__desc
      .about__photo
        picture.about__image
          source(srcset="../assets/image-about.webp", type="image/webp")
          source(srcset="../assets/image-about.png", type="image/png")
          img.about__picture(src="../assets/image-about.png", alt="Photo of Matheus in a hackathon", width="100%", height="834")
      h2.about__title
        | Hey! I’m Matheus Costa.
        br
        | I design and build useful and beautiful experiences.
      h3.about__subtitle
        span I’ve been creating digital products for over 10 years across a variety of industries.
        span My work is always focused on simplicity and purpose, following great methodologies and creating modular, responsive, performing and scalable applications.
        span
          | I strongly believe in open source, so during my free time I try to help creating free stuff to the community, mentoring people, speaking at events and contributing to some projects.
        span
          | Interested to learn more? Read my #{''}
          a.about__link.is-light-visible(href="/cv" aria-label="Link to Resume") resume
          a.about__link.is-dark-visible(href="/cv#contrast-on" aria-label="Link to Resume") resume
          | , check some of my work below
          | #{''} or just #{''}
          a.about__link(href="mailto:hi@matheusagcosta.com" aria-label="Link to Contact") contact me
          |.
    p.about__helper Keep Scrolling
