header.header(role="banner")
  .header__icon
    a.header__logo.logo.is-light-visible(href="/" aria-label="logo")
      svg.logo__image(viewBox='0 0 42 42', fill='none', xmlns='http://www.w3.org/2000/svg')
        path(fill-rule='evenodd', clip-rule='evenodd', d='M38 4H4v34h34V4zM0 0v42h42V0H0z')
        path(d='M24.767 29v-8.228l-2.618 5.786h-2.288l-2.618-5.786V29h-4.29V13.38h4.686l3.366 7.348 3.388-7.348h4.664V29h-4.29z')
    a.header__logo.logo.is-dark-visible(href="/#contrast-on" aria-label="logo")
      svg.logo__image(viewBox='0 0 42 42', fill='none', xmlns='http://www.w3.org/2000/svg')
        path(fill-rule='evenodd', clip-rule='evenodd', d='M38 4H4v34h34V4zM0 0v42h42V0H0z')
        path(d='M24.767 29v-8.228l-2.618 5.786h-2.288l-2.618-5.786V29h-4.29V13.38h4.686l3.366 7.348 3.388-7.348h4.664V29h-4.29z')
  nav.header__menu
    if current.source == 'index'
      button.header__link.js-scroll-to-talks Talks
      button.header__link.js-scroll-to-about About
      button.header__link.js-scroll-to-work Work
    if current.source != 'index'
      a.header__link.is-light-visible(href="/" aria-label="Link to Home" class="#{ current.source == 'index' ? 'is-active' : '' }") Back to Index
      a.header__link.is-dark-visible(href="/#contrast-on" aria-label="Link to Home" class="#{ current.source == 'index' ? 'is-active' : '' }") Back to Index

  .header__actions
    nav.header__switcher
      a.header__toggle(href="#contrast-on" aria-label="Dark")
      a.header__toggle(href="#contrast-off" aria-label="Light")
      span.header__button
